__pycache__/
*.py[cod]
*.so
.Python
.venv/

.streamlit/secrets.toml
.streamlit/cache/
.streamlit/config.toml

.cache/
.hugginggface/

smolvlm-fine-tuned/
smolvlm-full/
*.safetensors
*.bin
!adapter_config.json

!example.png